[Desktop Entry]
Version=1.1
Name=ButterManager
GenericName=ButterManager
Comment=ButterManager, a BTRFS tool for snapshoting, balancing and managing safe system upgrades.
Keywords=BTRFS;btrfs;system;filesystem;snapshot;balance;tool;gui
Exec=buttermanager
Icon=${SNAP}/meta/gui/buttermanager.svg
Terminal=false
Type=Application
Categories=Utility;System;
