[Desktop Entry]
Name=ButterManager
GenericName=ButterManager
Comment=ButterManager, a BTRFS tool for snapshoting, balancing and managing safe system upgrades.
Keywords=BTRFS;btrfs;system;filesystem;snapshot;balance;tool;gui
Exec=/opt/buttermanager/env/bin/python3 /opt/buttermanager/buttermanager/main.py
Path=/opt/buttermanager/buttermanager
Icon=/opt/buttermanager/gui/buttermanager.svg
Terminal=false
Type=Application
Categories=Utility;System;
